@use '/utils/mixins' as *;

.main {
    min-height: 100vh;

    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;

    text-shadow: 0 0 16px black;

    box-sizing: border-box;
    padding: 144px 25%;

    gap: 32px;

    a {
        color: inherit;
        text-decoration: none;
    }


    h1 {
        font-size: 4rem;
    }

    .profile {
        text-align: center;
        padding: 30px;
        border-radius: 10px;
        max-width: 400px;

        .avatar {
            width: 120px;
            height: 120px;
            border-radius: 50%;
            border: 4px solid #ddd;
        }

        .name {
            font-size: 1.8rem;
            margin: 10px 0;
        }

        .bio {
            font-size: 1rem;
            margin: 8px 0;

            display: flex;
            flex-flow: column nowrap;
            align-items: center;
            justify-content: center;
        }

        .social {
            margin: 8px 0;

            font-size: 1.2rem;
            text-shadow: 0 0 16px black;

            display: flex;
            flex-flow: row nowrap;
            gap: 16px;
            justify-content: center;

            a {
                filter: drop-shadow(0 0 16px black);
            }
        }
    }

    .copyright {
        position: absolute;
        bottom: 0;
        right: 0;

        font-size: xx-small;
    }

    .about {
        h1 {
            font-size: 2rem;
            margin: 0;
        }

        p {
            margin: 0;
        }
    }


    @include respond-to('xl') {
        padding: 144px 20%;
    }

    @include respond-to('lg') {
        padding: 144px 15%;
    }

    @include respond-to('md') {
        padding: 10%;

        flex-flow: column nowrap;
        gap: 8px;
    }

    @include respond-to('sm') {
        padding: 5%;
    }
}