:root {
  overflow: hidden;

  font-size: 18px;
  font-family: var(--font-crimson-pro), var(--font-noto-serif-sc), serif, sans-serif;

  color: whitesmoke;

  background: url("/background.jpg") no-repeat fixed, linear-gradient(150deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%) no-repeat fixed;
  background-size: cover;
  background-position: center;

  transition: height ease .5s;

  body {
    margin: 0;

    min-height: 100vh;

    overflow-y: scroll;
  }

  ::selection {
    background: burlywood;
  }
}

.custom-emojis {
  display: inline-block;
  width: 1.25rem;
  height: 1.25rem;

  vertical-align: text-bottom;

  user-select: none;
}