@use '/utils/mixins' as *;

.entry {
    height: 144px;

    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;

    overflow: visible;

    text-shadow: 0 0 16px black;

    @include respond-to('md') {
        height: 96px;
    }

    .cover {
        height: 144px;

        position: relative;

        aspect-ratio: 16 / 9;

        @include respond-to('md') {
            height: 72px;

            align-items: center;
        }
    }

    a {
        width: 100%;
        padding: 8px;

        display: flex;
        flex-flow: column nowrap;
        justify-content: center;

        flex: 1;

        color: unset;
        text-decoration: none;
        font-size: 1rem;

        * {
            margin: 0;
        }

        h2 {
            display: -webkit-box;
            -webkit-box-orient: vertical;
            overflow: hidden;
            -webkit-line-clamp: 1;
            line-clamp: 1;
            text-overflow: ellipsis;
            text-decoration: underline solid whitesmoke;

            @include respond-to('md') {
                font-size: 1.2rem;
            }
        }

        .date {
            font-size: 0.8rem;

            @include respond-to('md') {
                font-size: 0.6rem;
            }
        }

        .description {
            display: -webkit-box;
            -webkit-box-orient: vertical;
            overflow: hidden;
            -webkit-line-clamp: 3;
            line-clamp: 3;

            @include respond-to('md') {
                font-size: 0.8rem;

                -webkit-line-clamp: 2;
                line-clamp: 2;
            }
        }
    }

}