#sticky {
    background-color: #ffffff88;
    padding: 10px 80px;
    backdrop-filter: blur(10px);
    font-family: 'Zilla Slab', serif;
    #logo {
        color: black;
        visibility: visible;
        white-space: nowrap;
        user-select: none;
    }
    li {
        color: black;
        font-weight: 400;
        text-shadow: none;
        &:hover {
            background-color: black;
            border-radius: 999px;
            color: white;
        }
    }
}
