.container {
  img {
    transition: all 0.5s;
  }
  .desc {
    transform: translateY(100%);
    background: #ffffff88;
    backdrop-filter: blur(10px);
    transition: all 0.5s;
  }
  &:hover {
    .desc {
      transform: none;
    }
    img {
      transform: scale(1.2);
    }
  }
}