@use "../mixins";

.card {
  position: relative;
  background: white;
  display: flex;
  flex-flow: column nowrap;
  border-radius: 8px;
  padding: 32px;

  @include mixins.responsive(lg) {
    flex-flow: row nowrap;
  }

  .info {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    gap: 8px;
    width: 100%;
    border-bottom: 1px solid lightgrey;
    padding-bottom: 16px;

    @include mixins.responsive(lg) {
      border-bottom: none;
      border-right: 1px solid lightgray;
      width: 30%;
      padding-bottom: 0;
    }

    .avatar {
      border-radius: 50%;
      border: 2px solid lightgray;
      width: 100px;
      object-fit: cover;
      aspect-ratio: 1;
      transition: all 0.25s;

      &:hover {
        scale: 1.2;
      }
    }

    .name {
      font-size: x-large;
      font-weight: bold;
      font-family: Roboto, sans-serif;
    }

    .social {
      display: flex;
      flex-flow: row nowrap;
      gap: 16px;

      svg {
        cursor: pointer;
      }
    }
  }

  .content {
    flex: 1;

    .markdown {
      width: 100%;
      @include mixins.markdown;
      font-family: Roboto sans-serif;
      display: flex;
      flex-flow: column wrap;
      align-items: center;
      justify-content: center;
      overflow: hidden;

      h1 {
        text-align: center;
        font-size: 1.3em;
        @include mixins.responsive(sm) {
          font-size: 1.8em;
        }
      }

      h2 {
        font-size: 1.25em;
        @include mixins.responsive(sm) {
          font-size: 1.5em;
        }
      }

      h3 {
        font-size: 1.2em;
        @include mixins.responsive(sm) {
          font-size: 1.4em;
        }
      }

      h4 {
        font-size: 1.15em;
        @include mixins.responsive(sm) {
          font-size: 1.3em;
        }
      }

      h5 {
        font-size: 1.1em;
        @include mixins.responsive(sm) {
          font-size: 1.2em;
        }
      }

      h6 {
        font-size: 1.05em;
        @include mixins.responsive(sm) {
          font-size: 1.1em;
        }
      }
    }
  }
}