---
import Layout from '~/layouts/Layout.astro'
import { getCollection } from 'astro:content'
import { Image } from 'astro:assets'
import GitHubActivityCalendar from '~/components/GitHubActivityCalendar.astro'

const home = await getCollection('home')
let githubCalendar: string | undefined
if (home.length > 0) {
  githubCalendar = home[0].data.githubCalendar
}
---

<Layout title="About Me">
  <div class="max-w-full py-7.5">
    <h1 class="md:mx-2 mb-3 text-[1.75rem] text-heading1 font-semibold">
      # About Me
    </h1>
    <div class="mb-5 prose">
      <div align="center">
        <Image
          priority
          src="/avatar.webp"
          alt="TranceDream"
          class="rounded-full border-8 border-accent/15 size-36 aspect-square box-content shrink-0"
          widths={[288]}
          height={144}
          width={144}
        />
        <b style="display: flex; flex-wrap: wrap; justify-content: center; gap: 0.5rem;">
          <span>社畜</span>
          <span>|</span>
          <span>NodeJS</span>
          <span>|</span>
          <span>多模态</span>
          <span>|</span>
          <span><del>前端</del></span>
          <span>|</span>
          <span>東方Project</span>
          <span>|</span>
          <span>Self-Hosted 爱好者</span>
        </b>
      </div>

      <p>我是 TranceDream，本科毕业于天津大学智能与计算学部软件工程学院，曾就职于某度、某手，meme 收藏家，Pusheen Stickers 收藏家，自部署服务爱好者。手持一台 N5095 小型服务器、一台 N105 NAS 以及一台 Mac Mini M4Pro，除了这个网页之外，大部分服务都运行在这几个小机器上，自部署乐趣无穷。本博客随机更新，我会偶尔更新一些技术探索的内容，大部分时间会写一些生活记录和碎碎念。</p>

      {githubCalendar && (
        <div class="my-6">
          <GitHubActivityCalendar username={githubCalendar} />
        </div>
      )}
    </div>
  </div>
</Layout>
