@use '/utils/mixins' as *;

.main {
    display: flex;
    flex-flow: column nowrap;
    gap: 32px;

    padding: 144px 25%;

    h1 {
        font-size: 3rem;
        text-align: center;
        text-shadow: 0 0 16px black;

        user-select: none;

        @include respond-to('md') {
            font-size: 2.2rem;
        }
    }

    ul {
        display: flex;
        flex-flow: column nowrap;
        gap: 32px;

        padding: unset;


        @include respond-to('md') {
            gap: 8px;
        }
    }

    @include respond-to('xl') {
        padding: 144px 20%;
    }

    @include respond-to('lg') {
        padding: 144px 15%;
    }

    @include respond-to('md') {
        padding: 256px 10% 144px;
    }

    @include respond-to('sm') {
        padding: 256px 5% 144px;
    }
}