.main {
    background: white;
    color: #333;

    font-size: larger;

    display: flex;
    flex-flow: column nowrap;
    align-items: center;

    padding: 64px 0;

    table {
        width: fit-content;
        table-layout: auto;

        border: 1px solid;

        th {
            border: 1px solid;
        }

        td {
            border: 1px solid;

            padding: 0 64px;

            .code {
                margin: 8px 0;

                background: gainsboro;

                text-align: center;

                border-radius: 8px;
            }
        }
    }
}