.markdown {
    width: 100%;
    h1 {
        font-size: 3em;
        margin: 20px 0;
    }
    h2 {
        font-size: 2.5em;
        margin: 60px 0;
    }
    h3 {
        font-size: 2.1em;
        margin: 30px 0;
    }
    h4 {
        font-size: 1.8em;
    }
    h5 {
        font-size: 1.4em;
    }
    h6 {
        font-size: 1.2em;
    }
    ul {
        margin-left: 60px;
        :not(:first-child) {
            margin-top: 20px;
        }
    }
    * {
        margin-top: 10px;
    }
    img {
        align-self: center;
    }
    blockquote {
        padding: 10px 20px;
        background: #00000022;
        border-left: 5px solid gray;
        mix-blend-mode: darken;

        :not(:first-child) {
            margin-top: 10px;
        }
    }
    code {
        font-family: 'Fira Code';
    }
}
