#container {
    * {
        box-sizing: border-box;
    }
    section {
        min-height: 100vh;
        background: url("/diagonal-squares.png");
        display: flex;
        padding: 200px 300px;
        flex-direction: column;
        align-items: center;

        h2 {
            color: white;
            font-size: 2.5em;
            font-family: "Comfortaa";
            align-self: flex-start;
            margin-bottom: 40px;
        }
    }
}
